@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Poppins:wght@100;300;600;700&family=Roboto+Mono:wght@100;400;500;700&display=swap');

*{
  /* font-family: 'Roboto', sans-serif; */
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
body {
 
  /* background-image: url(/images/clearskyback.jpg); */
  background-repeat: no-repeat;
  background-color: #4280DC;
  min-height: 100vh;
  display: grid;
  grid-template-rows:1fr auto;

  /* background-attachment: fixed; */

}
.navbar-brand{
  color: #ffffff;
}
.navbar-brand img{
  margin-left: 60px;
  width:20%;
}
.navbar{
  background-color: #4280DC !important;
}
.nav-link {
  color: #ffffff;
  margin-top: 10px;
  font-size: 15px;
}

.active {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 10px; 
}

.searchbar {
  border-radius: 10px;
  background: #ffffff;

  margin-top: 20px;

  width: 50%;
}

.searchbar input {
  border: none;
  
}
.btn {
  background-color: #ffffff;
  border-radius: 40%;
}
.btn img {
  width: 20px;
}

form { 
 
  margin:20px auto !important;
  width: 50% !important;
}

div .footer {
background-color: #4280DC !important ;

}

.main-content{

  box-sizing: border-box;
  display: flex;
  padding: 20px;
  /* flex-wrap: wrap; */
  /* justify-content: center;
  align-items: center; */
 /* flex-direction: row; */
  @media (max-width: 300px) {   
      flex-wrap: wrap;
   }
}
#page-1{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: start;
  width:40%;
 
}
#page-2{
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  width: 60%;
  margin-left: 20px;
}

#page-3{
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 20px;
  width: 40%;
  
}
.container{
    
      background: #ffff;
      border-radius: 10px;
      margin-bottom: 10px;
}
#hotlines {
  height: 800px;
  border: 1px solid orange;
}
#hotlines h4{
  text-align: center;
}
#hotlines h5{
  justify-content: flex-start;
  font-size: 15px;
  font-weight: 900;
}

#hotlines h6{
  font-size: 12px;
}
#hotlines ul{
  font-size: 12px;
  font-weight: 300;
}
#main-weather{
  display: flex;
  justify-content: center;
  align-items: start;
  border: 1px solid orange;
}

#currentWeather{
  
  font-weight: 300;
  padding: 10px;
  margin: 20px; 

}
#currentWeather img{
  width: 100px; 
}
/* #currentWeatherDay{

} */
#currentWeatherNight{

  border: 1px solid orange;
  
}
#currenDetails{
  /* border: 1px solid orange; */
  margin-top: 20px;
  padding: 10px;
}
#currenDetails div{
border-bottom: 1px solid gray;
margin-bottom: 20px;
font-weight: 300;
display: flex;
align-items: center;
justify-content: space-between;
}

#dayForcast{
  border: 1px solid orange;
}
#aboutPageContainer{
  margin-top: 20px;
  padding: 0;
  width: 100%;
  height: 500px;
  background: #ffffff;
}
#currentTemp{
  font-size: 70px;
  justify-items: baseline;
 margin-left: 20px;
}
#tipsOftheDayContainer{
  height: 800px;
  font-weight: 300;
  border: 1px solid orange;
  box-shadow: #6e7783;
}
#tipsOftheday p{
  text-align: center;
  border: 1px solid gray;
}
#tipsOftheday h6{
  margin-top: 20px;
}

.footer-div {
  background-color: #4280DC !important;
  height: 50px !important;
  outline: none !important;
  display: flex;
  justify-content: flex-end;
  align-items: center;   
  /* position: fixed; */
  left: 0;
  bottom: 0;
  width: 100%; 
}
.footer-div i{
  margin-right: 20px;
  color: #ffffff;
}
#currentWeatherCards{
  display: flex;
  justify-content: center;
  align-items: start;
  
}
.card {
  width: 200px;
  height: 250px;
  border: 1px solid rgb(15, 15, 15);
  position: relative;
  overflow: hidden;
  margin: 15px;
  align-items: center;
  

}
#imageCard{
  width: 80px;
}
#currentTempCard{    
  font-weight: 300;
  padding: 10px;
  margin: 20px;
  font-size: 20px;
}

.contact1{
  padding-top: 0;
  height: 10rem;

}


/* CONTACT PAGE STYLING */


.contact{
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url(bg.jpg);
  background-size: cover;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2{
  font-size: 36px;
  font-weight: 500;
  color: #fff;
}

.contact .content p{
  font-weight: 300;
  color: #fff;
}

.container{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  background-color: rgb(73, 223, 223);
}

.container .contactInfo{
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contactInfo .box{
  position: relative;
  padding: 20px 0;
  display: flex;
}

.container .contactInfo .box .icon{
  display: flex;
  min-width: 60px;
  height: 60px;
  background-color: #fff;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 22px;
  margin-left: 5%
}

.container .contactInfo .box .text{
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.container .contactInfo .box .text h3{
  font-weight: 500;
  color: #274a7b;
}
.container .contactInfo h4{
font-weight: bolder;
font-size: 24px;
color: #274a7b;
padding-left: 30%;
}
.contactForm{
  width: 60%;
  padding: 40px;
  background: #fff ;
}

.contactForm h2{
  font-size: 30px;
  color: #333;
  font-weight: 500;
}

.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea 
{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid #333;
  outline: none;
  resize: none;
}

.contactForm .inputBox span{
  position: absolute;
  Left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
  color: #e91e63;
  font-size: 13px;
  transform: translateY(-20px);
}

.contactForm .inputBox input[type="submit"]
{
  width: 100px;
  background: #00bcd4;
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}
/* 
@media (max-width: 980px)
{
  .checkbtn{
    display: block;
  }
  nav ul li a{
    font-size: 16px;
  }
  nav label img{
    padding-left: 5%;
  }
  nav ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #000000;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    display: block !important;
  }
  nav ul li{
    display: block !important;
    margin: 50px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
  }

  #check:checked ~ ul{
    left: 0;
  } */



@media (max-width: 991px)
{
  .contact
  {
      padding: 50px;
  }
  .container
  {
      flex-direction: column;
  }
  .container .contactInfo
  {
      margin-bottom: 40px;
  }
  .container .contactInfo,
  .contactForm
  {
      width: 100%;
  }
  #check{
    display: none;
  }
  
}

/* END OF CONTACT PAGE */















