/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    /* z-index: 1; Sit on top */
    /* left: 0;
    top: 0; */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin:auto;
    

  }
  
  /* Modal Content/Box */
  .modal-content {
    background: url('./images/img/nlbg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 60%;
    
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }




 /* CONTACT PAGE STYLING */


.contact{
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: url(bg.jpg);
    background-size: cover;
  }
  
  .contact .content {
    max-width: 800px;
    text-align: center;
  }
  
  .contact .content h2{
    font-size: 36px;
    font-weight: 500;
    color: #fff;
  }
  
  .contact .content p{
    font-weight: 300;
    color: #fff;
  }
  
  .container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    background-color: rgb(73, 223, 223);
  }
  
  .container .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .container .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
  }
  
  .container .contactInfo .box .icon{
    display: flex;
    min-width: 60px;
    height: 60px;
    background-color: #fff;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
    margin-left: 5%
  }
  
  .container .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #fff;
    flex-direction: column;
    font-weight: 300;
  }
  
  .container .contactInfo .box .text h3{
    font-weight: 500;
    color: #274a7b;
  }
  .container .contactInfo h4{
  font-weight: bolder;
  font-size: 24px;
  color: #274a7b;
  padding-left: 30%;
  }
  .contactForm{
    background-color: #fff;
    width: 70%;
    height: 80%;
    display: flex;
    margin: auto;
    padding: 20px ;
    justify-content: center;
    
  }
  
  .contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
    text-align: center;
  }
  
  .contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
  }
  
  .contactForm .inputBox input,
  .contactForm .inputBox textarea 
  {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
  }
  
  .contactForm .inputBox span{
    position: absolute;
    Left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
  }
  
  .contactForm .inputBox input:focus ~ span,
  .contactForm .inputBox input:valid ~ span,
  .contactForm .inputBox textarea:focus ~ span,
  .contactForm .inputBox textarea:valid ~ span
  {
    color: #e91e63;
    font-size: 13px;
    transform: translateY(-20px);
  }
  
  .contactForm .inputBox input[type="submit"]
  {
    width: 100px;
    background: #00bcd4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
  }
  
  
  
  @media (max-width: 991px)
  {
    .contact
    {
        padding: 50px;
    }
    .container
    {
        flex-direction: column;
    }
    .container .contactInfo
    {
        margin-bottom: 40px;
    }
    .container .contactInfo,
    .contactForm
    {
        width: 100%;
    }
    #check{
      display: none;
    }
    
  }
  
  .contactForm .inputBox button{
    background-color: #00bcd4;
    border-color: #777b82;
    color: white;
  }
  
  .contactForm .inputBox button:hover{
    background-color: #274a7b; 
  }
  
  
  /* END OF CONTACT PAGE */
  