*{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body {
   
    /* background-image: url(/images/clearskyback.jpg); */
    background-repeat: no-repeat;
    background-color: #4280DC;
    min-height: 100vh;
    display: grid;
    grid-template-rows:1fr auto;

    /* background-attachment: fixed; */

}
.navbar-brand{
    color: #ffffff;
}
.navbar-brand img{
    margin-left: 80px;
    width:100px;
}
.navbar{
    background-color: #023c66 !important;
}
.nav-link {
    color: #ffffff;
    margin-top: 10px;
    font-size: 15px;
    align-items: center;
}

.nav-link li a{
    align-items: center;
}
.navbar-nav .nav-item {
    align-items: center;
}
.active {
    background-color: #ffffff;
    border-radius: 10px;
    padding: 10px; 
}

.searchbar {
    border-radius: 10px;
    background: #ffffff;

    margin-top: 20px;

    width: 50%;
}

.searchbar input {
    border: none;
    
}
.form-control{
    margin:0;

}
.btnicon {
    background-color: #ed7f0200;
    width: 50px;
    border: none;
    transition: transform .4s;
}
.btnicon img {
    width: 50px;
  
}
.btnicon:hover {
    transform: scale(1.5);
   
}
.btnlocation{
    border-radius: 50%;
    background-color: #ffffff00;
    outline: none;
    border: none;
   
}
.btnlocation img {
    width: 50px;
    transition: transform .4s;
}
.btnlocation img:hover{
    transform: scale(1.5);
}

form { 
   
    margin:20px auto !important;
    width: 50% !important;
}



.main-content{

    box-sizing: border-box;
    display: flex;
    padding: 20px;
    /* flex-wrap: wrap; */
    /* justify-content: center;
    align-items: center; */
   /* flex-direction: row; */
    @media (max-width: 300px) {   
        flex-wrap: wrap;
     }
}
#page-1{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: start;
    width:40%;
   
}
#page-2{
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    width: 60%;
    margin-left: 20px;
}

#page-3{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 20px;
    width: 40%;
    
}
.container{
      
        background: #ffff;
        border-radius: 10px;
        margin-bottom: 10px;
}
#hotlines {
    height: 770px;
    border: 1px solid orange;
}
#hotlines h4{
    text-align: center;
}
#hotlines h5{
    justify-content: flex-start;
    font-size: 15px;
    font-weight: 900;
}

#hotlines h6{
    font-size: 12px;
}
#hotlines ul{
    font-size: 12px;
    font-weight: 300;
}
#main-weather{
    display: flex;
    justify-content: center;
    align-items: start;
    border: 1px solid orange;

}

#dayweather{
    display: flex;
    flex: wrap;
}
#dayDetails{
margin-left: 0;
margin-top: 2rem;
font-size: 12px;
  
}
#dayDetails span{
    font-weight: 600;
}
#currentWeather{
    
    font-weight: 300;
    padding: 10px;
    margin: 20px; 

}
#currentWeather img{
    width: 100px; 
}
/* #currentWeatherDay{

} */
#nightweather{
 display: flex;
 flex: wrap;
    
    
}
#currenDetails{
    /* border: 1px solid orange; */
    margin-top: 20px;
    padding: 10px;
    
}
#currenDetails div{
border-bottom: 1px solid gray;
margin-bottom: 20px;
font-weight: 300;
display: flex;
align-items: center;
justify-content: space-between;
}

#dayForcast{
    border: 1px solid orange;
}
#aboutPageContainer{
    margin-top: 20px;
    padding: 0;
    width: 100%;
    height: 500px;
    background: #ffffff;
}
#currentTemp{
    font-size: 70px;
    justify-items: baseline;
   margin-left: 20px;
}
#tipsOftheDayContainer{
    height: 770px;
    font-weight: 300;
    border: 1px solid orange;
    box-shadow: #6e7783;
}
#tipsOftheday p{
    text-align: center;
    border: 1px solid gray;
}
#tipsOftheday h6{
    margin-top: 20px;
}
footer{
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
    background-color: rgb(152, 100, 3);
}
footer h1{
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-weight: bold;
    margin: 20px;
}

#newsLetter form{ 
    display: block;
    justify-content: space-between;
    align-items: center;
}
#newsLetter .inputBox {
    width: 100%;
}
.footer-div {
    /* background-color: #4280DC !important; */
    /* height: 300px !important; */
    outline: none !important;
    /* display: flex; */
    /* justify-content: flex-end; */
    /* align-items: center;    */
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%; 
}
#icon-container{
    display: flex;
    color: white;
    padding: 10px;
    justify-content: center;
    align-items: center;
}
#icon-container i{
    margin: 20px;
}
div .footer {
    background-color: #4280DC !important ;
    
    }
#currentWeatherCards{
    display: flex;
    justify-content: center;
    align-items: start;
    
}
.card {
    width: 200px;
    height: 250px;
    border: 1px solid rgb(15, 15, 15);
    position: relative;
    overflow: hidden;
    margin: 15px;
    align-items: center;
    

  }
  #imageCard{
    width: 80px;
  }
  #currentTempCard{    
    font-weight: 300;
    padding: 10px;
    margin: 20px;
    font-size: 20px;
}

.contact1{
    padding-top: 0;
    height: 10rem;

}

.content{
	width: 100%;
	height: auto;
	background-color: #00477b;
	padding: 30px 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.content h3{
	font-size: 30px;
	font-weight: 300;
	color: #fff;
}

.content p{
	font-size: 20px;
	font-weight: 200;
	color: rgba(255, 255, 255, 0.611);
}

.content form{
	width: 500px;
	height: 55px;
	margin-top: 10px;
	background-color: #fff;
	border-radius: 100px;
	display: flex;
}

.content form input{
	flex: 1;
	background-color: transparent;
	border: none;
	outline: none;
	padding-left: 30px;
	font-size: 16px;
	font-weight: 500;
	color: #36454f;
}

.content form button{
	width: 100px;
	border-radius: 100px;
	font-size: 14px;
	border: none;
	outline: none;
	background-color: #ed4e6a;
	color: #fff;
	margin: 4px;
	cursor: pointer;
	transition: 0.5s;
}

.content form button:hover{
	background-color: #e24c66;
}

.content-2 {
	height: 50px;
	padding: 0 20px;
	background-color: #023c66;
	display: flex;
	align-items: center;
    justify-content: flex-end;
	justify-content: space-between;
}

.content-2 p{
	font-size: 12px;
	font-weight: 200;
	color: rgba(255, 255, 255, 0.5);
}

.content-2 p a{
	color: #ed4e6a;
	text-decoration: none;
	font-weight: 400;
}

.content-2 ul li{
	list-style: none;
	display: inline;
}

.content-2 ul li a{
	text-decoration: none;
	font-size: 13px;
	font-weight: 300;
	margin-left: 15px;
	color: rgba(255, 255, 255, 0.5);
	transition: 0.5s;
}

.content-2 ul li a:hover{
	color: rgba(255, 255, 255, 1);
}

.social-links{
	margin-top: 20px;
}
.social-links i{
	font-size: 35px;
	margin: 20px 10px 0 10px;
	color: rgba(255, 255, 255, 0.3);
	cursor: pointer;
	transition: 0.5s;
}

.social-links i:hover{
	color: rgb(255, 255, 255);
}

@media(max-width: 900px){
    #mainContent { display: flex; flex-direction: column; justify-content: center; align-items: center; }
    #main-weather {     flex-wrap: wrap; }
    /* #page-1
    #page-2
    #page-3
    #tipsOftheDayContainer
    #hotlines */
}













